[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Config files for my GitHub profile.
[access "refs/*"]
	owner = group user/Yichen Wu (yichenemma)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yichen Wu (yichenemma)
	label-Verified = -1..+1 group user/Yichen Wu (yichenemma)
	push = group user/Yichen Wu (yichenemma)
	read = group user/Yichen Wu (yichenemma)
	rebase = group user/Yichen Wu (yichenemma)
	removeReviewer = group user/Yichen Wu (yichenemma)
	submit = group user/Yichen Wu (yichenemma)
[access "refs/heads/*"]
	create = group user/Yichen Wu (yichenemma)
	push = +force group user/Yichen Wu (yichenemma)
	pushMerge = group user/Yichen Wu (yichenemma)
	read = group user/Yichen Wu (yichenemma)
[access "refs/tags/*"]
	push = group user/Yichen Wu (yichenemma)
	push = +force group user/Yichen Wu (yichenemma)
